body {
  text-align: left;
  background-color: #48d1cc;
  background-image: url("https://i.pcmag.com/imagery/articles/06A0yVqekWQSdRVJzFou1Ht-22.fit_scale.size_2698x1517.v1575682800.jpg");
  color: cyan;
  padding: 40px;
  font-family: Arial;
}
